h1{
    text-align: center;
    font-family: sans-serif;
}
.countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.flag-container{
    border: 3px solid green;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: bisque;
}
.flag-container img{
    width: 200px;
}